html,body{
    height: 100%;
    width:100%;
}
.navbar-brand img{
   width: 100px;
   padding:5px;
    margin: auto;
}
.navbar{
    font-size: 1.2em;
    padding: 0 10px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 20px;
    border-bottom: 5px solid #2ECC71 ;
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #2ECC71;
}
.main-text{
    padding: 30px 50px;
}
.main-text h1{
    font-family: 'Poppins', sans-serif;
    color: #17202A ;
    font-size: 3.5rem;
    font-weight: 500;
    
}
.main-text p{
    font-family: 'Open Sans', sans-serif;
    color: #17202A ;
    font-size: 1rem;
    font-weight: 900;
}
.main-text .light{
    color: #fff;
}

#home{
    background:linear-gradient(rgba(5, 197, 245, 0.472), rgba(230, 31, 9, 0.589)), url('./img/5.jpg') no-repeat center center fixed;
    height: 100%;
    display: table;
    width: 100%;
    position: relative;
    background-size: cover;
}
.landing-text{
    text-align: center;
    display: table-cell;
    color: #FDFEFE;
    vertical-align: middle;
}
.landing-text h1{
    font-size: 500%;
    font-weight: 700;
}
.landing-text h3{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.landing-text button{
    padding: 10px 50px;
    border: none;
    border-radius: none;
    background-color: #2ECC71;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}
.landing-text button:hover{
    padding: 10px 50px;
    border: none;
    border-radius: none;
    background-color: #3498DB ;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;

}


section{
    padding: 60px 0;
}

#Servise{
    background:#34495E;
    text-align: center;
    color: black;
}


small{
    font-size: 19px;
    color: rgb(235, 8, 27);
    font-weight: bold;
  
}
kbd{
    background: black;
}
#projects{
    background:#E5E8E8;
    color: black;
    text-align: center;
    padding: 50px 20px ;
}

#Team{
    background:#34495E ;
    text-align: center;
    color: black;
}

#Team h2{
    font-weight: bold;
    font-size: 28px;
}
.img-circle{
    border-radius: 50%;
    border: 3px solid #FDFEFE;
}

#About-us{
    background:#E5E8E8;
    color: black;
    text-align: center;

}

#About-us h3{
    font-weight: bold;
}


#fixed{
    background: linear-gradient(rgba(5, 197, 245, 0.322), rgba(9, 230, 108, 0.404)),url('./img/background.jpg') no-repeat center center fixed;
	display: table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}
footer{
	background-color: #1B2631 ;
    padding: 20px;
    border-top: 5px solid #34495E;
    text-align: center;
    color: #FDFEFE;
}
.fa{
	padding: 15px;
	font-size: 25px;
	color: #fff;
}
.fa:hover{
	color: #d5d5d5;
	text-decoration: none;
}
.icon{
	max-width: 200px;
}

@media (max-width: 768px){
	.landing-text h1{
		font-size: 300%;
    }
    #About-us h1{
        font-size: 300%;
    }
    #Servise h1{
        font-size: 300%;
    }
    #Team h1{
        font-size: 300%;
    }
    #projects h1{
        font-size: 300%;
    }
	.fa{
		font-size: 18px;
		padding: 10px;
	}
	.icon{
		padding: 5%;
		max-width: 100px;
    }
    .card{
        margin: 10px 5px;
        padding: 0px;
    }
    footer h4{
        font-size: 15px;
        text-align: center;
    }
}